
# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Build
coverage

# Environment
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db
